* {
	box-sizing: border-box;
}
/* SECTION BLOG */
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  /* border:solid red; */
}
html {
  /* background-color: #cde9f1; */
  background-color: #d7f8fa;
}

/* --------------------------------- */
body {
  /* font-family:  'Delicious Handrawn', cursive; */
  font-family: 'Delicious Handrawn', cursive;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;

  /* color: #272727; */
  /* font-family: 'Quicksand', serif; */
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  /* margin: 0; */
  padding: 0;
  /* min-height: 100vh; */
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h2,
  h3,
  a {
      color: #86486a94;
      font-size: 46px;
  }
  a {
	text-decoration: none;
}
.logo {
	margin: 0;
	font-size: 1.45em;
}
.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.main-nav a {
	color: #3c0e46d8;
	font-size: 36px;
}
.main-nav a:hover {
	color: #718daa;
}
.main h1{
  font-size: 46px;
  color: #86486a94;
}
.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	/* background-color: #bef1f5; */
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.header img{
  width: 5opx;
}
/*SECTION BLOG*/
.main{
  /* max-width: 1200px; */
  margin: 0 auto;
  border: 1px solid #a2a2a2;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.main h1 {
    font-size: 36px;
    /* font-weight: 400; */
    text-align: center;
    /* padding: 1em; */
    
}
.main h2 {
  font-size: 36px;
  /* font-weight: 400; */
  text-align: center;
  /* padding: 1em; */
  
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  /* text-transform: uppercase; */
  border-radius: 6px;
  font-weight: 400;
  display: inline;
  /* width: 35%; */
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  justify-content: flex-end;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 5% 5%;
  /* background-color: red; */
}
.cards_item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
  /* .header{
      display: flex;
      align-items: center;
  } */
/* .main-nav{
      display: flex;
  } */
  
  /*
  .main-nav-responsive-menu{
      display: none;
  } */
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
  /* .nav {
  flex-direction: row;
  justify-content: space-between;
} */
}

@media (min-width: 769px) {
.nav,
.main-nav {
  display: flex;
}
.nav {
  flex-direction: column;
  align-items: center;
    /* .header {
  width: 80%;
  margin: 0 auto;
  max-width: 1150px;
} */
}

}

@media (min-width: 1025px) {
.nav {
  flex-direction: row;
  justify-content: space-between;
}

}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #6d3163 40%, #d39eff 100%);
  flex:1;
  display: flex;
  flex-direction: column;
}
.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}
.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  flex: 1;
 
}   
.card_image{
  height: 300px;
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	/* .header {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	} */
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/* <!-- SECTION JUMBOTRON --> */
header{
  background-color: pink;
  border: 1px solid #a2a2a2;
  display: grid;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: minmax(auto, auto);
  align-items: center;
}
.header-content-left{
  /* justify-self: stretch; 
  align-self: stretch;  */
  padding: 2em;
}
.header-content-left img{
  width: 95px;
  opacity: 1;
}
.header-content-left .content-text-1{
  font-size: 46px;
  color: #1cbb1c;
  text-align: center;
}
.header-content-left .content-text-2{
  font-size: 36px;
  /* color: #1cbb1c; */
}
.header-content-left .content-text-3{
  font-size: 32px;
  /* color: #1cbb1c; */
}

/* Estilos para el formulario de correo electrónico */
.header-content-left .email-form{
   /* Establece el formulario como un contenedor flexible */
  display: flex; 
  /* Añade margen en la parte superior */
  /* margin-top: 10px;   */
  margin-left: 10px;
}
/* Estilos para las imágenes */
.header-content-right img{
  /*max-width: 100%;   Establece el ancho máximo de la imagen */
  height: 100%;   /*Ajusta automáticamente la altura de la imagen */
  width: 100%;
  object-fit: cover;
  /* display: block; */
}

/* Estilos para el campo de entrada de correo electrónico */
input[type="email"] {
  padding: 8px;  /* Añade un relleno al campo */
  margin-right: 10px; /* Añade margen a la derecha */
}

/* Estilos para el botón de envío */
button[type="submit"] {
  padding: 8px;  /* Añade un relleno al botón */
  cursor: pointer;  /* Establece el cursor del mouse como un puntero */
  background-color: rgb(17, 197, 92);  /* Establece el color de fondo del botón */
  color: white;  /* Establece el color del texto del botón */
  border: none;  /* Elimina el borde del botón */
  border-radius: 5px;  /* Establece la curvatura de los bordes del botón */
}
@media (min-width: 312px) {
	header {
    display: grid;
		grid-template-columns: 1fr;
    grid-template-rows: auto auto;
	}

}
@media (min-width: 600px) {
	header {
    display: grid;
		grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
	}

}


/* <!-- SECTION BLOG ADICIONAL--> */
.container-section{
  display: grid;
  /* grid-template-columns: 300px 300px auto; */
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-auto-rows: 200px;


  /* grid-template-rows: auto auto; */
  /* justify-content: center; */
  /* width: 80%; */
  /* margin: 0 auto; */
  margin: auto;
  /* background-color: lightgreen; */
  padding: 20px;
  /* border: 1px solid black; */
  
  /* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
} 
.container-section-box{
  /* width: 150px;
  height: 150px; */
  border: 4px solid black;
  background-color: lightgray;
  text-align: center;
  line-height: 150px;
  /* float: left; */
}

.container-section-box-col-1{
  /* grid-column: 1/3; */

  border: 4px solid black;
  background-color: lightgray;
  text-align:end;
  line-height: 150px;

  margin: 10px;
  border-radius: 10px;
  background-image: url(../img/Block-aquapad.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
.btn-col-1{
  /* grid-column: 1/3; */
  padding: 8px;  /* Añade un relleno al botón */
  cursor: pointer;  /* Establece el cursor del mouse como un puntero */
  background-color: #6d3163 ;  /* Establece el color de fondo del botón */
  color: white;  /* Establece el color del texto del botón */
  border: none;  /* Elimina el borde del botón */
  border-radius: 10px;  /* Establece la curvatura de los bordes del botón */
  width: 90px;
}
.container-section-box-col-2{
  /* grid-column: 1/3; */

  border: 4px solid black;
  background-color: lightgray;
  text-align: start;
  line-height: 150px;

  margin: 10px;
  border-radius: 10px;
  background-image: url(../img/planner-agenda.PNG);
  background-repeat: no-repeat;
  background-size:cover;
}
.btn-col-2{
  /* grid-column: 1/3; */
  padding: 8px;  /* Añade un relleno al botón */
  cursor: pointer;  /* Establece el cursor del mouse como un puntero */
  background-color: #6d3163 ;  /* Establece el color de fondo del botón */
  color: white;  /* Establece el color del texto del botón */
  border: none;  /* Elimina el borde del botón */
  border-radius: 10px;  /* Establece la curvatura de los bordes del botón */
  width: 90px;
}
.container-section-box-col-3{
  /* grid-column: 1/3; */
  grid-column-start: 3;
  grid-column-end: 5;
  border: 4px solid black;
  background-color: lightgray;
  text-align: start;
  line-height: 150px;

  margin: 10px;
  border-radius: 10px;
  background-image: url(../img/utensilios-del-arte-pinturas.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
.btn-col-3{
  /* grid-column: 1/3; */
  padding: 8px;  /* Añade un relleno al botón */
  cursor: pointer;  /* Establece el cursor del mouse como un puntero */
  background-color: #6d3163 ;  /* Establece el color de fondo del botón */
  color: white;  /* Establece el color del texto del botón */
  border: none;  /* Elimina el borde del botón */
  border-radius: 10px;  /* Establece la curvatura de los bordes del botón */
  width: 90px;
}
.container-section-box-col-4{
  /* grid-column: 1/3; */
  /* width: 350%; */
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  /* grid-row: 2;
  grid-column: 1/3; */


  border: 4px solid black;
  background-color: lightgray;
  text-align: center;
  line-height: 150px;

  margin: 10px;
  border-radius: 10px;
  background-image: url(../img/descubre-nuevos-productos.PNG);
  background-repeat: no-repeat;
  background-size:cover;
}
.btn-col-4{
  /* grid-column: 1/3; */
  padding: 8px;  /* Añade un relleno al botón */
  cursor: pointer;  /* Establece el cursor del mouse como un puntero */
  background-color: #6d3163 ;  /* Establece el color de fondo del botón */
  color: white;  /* Establece el color del texto del botón */
  border: none;  /* Elimina el borde del botón */
  border-radius: 10px;  /* Establece la curvatura de los bordes del botón */
  width: 90px;
}
.container-section-box-col-5{
  /* grid-column: 1/3; */
  grid-row: 2;
  grid-column: auto;


  border: 4px solid black;
  background-color: lightgray;
  text-align:justify;
  line-height: 150px;

  margin: 10px;
  border-radius: 10px;
  background-image: url(../img/tecnologia-audifonos-usb.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
.btn-col-5{
  /* grid-column: 1/3; */
  padding: 8px;  /* Añade un relleno al botón */
  cursor: pointer;  /* Establece el cursor del mouse como un puntero */
  background-color: #6d3163 ;  /* Establece el color de fondo del botón */
  color: white;  /* Establece el color del texto del botón */
  border: none;  /* Elimina el borde del botón */
  border-radius: 10px;  /* Establece la curvatura de los bordes del botón */
  width: 90px;
}
@media (max-width: 600px) {
	.container-section {
    display: flex;
    flex-direction: column;
		/* grid-template-columns: 1fr;
    grid-template-rows: auto auto; */
	}

}
/* @media (min-width: 600px) {
	.container-section {
    display: grid;
		grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
	}

} */
section{
  margin: 0;
}

/* SECTION FOOTER */
footer{
  /* background-color: #81e4eb; */
  /* border: solid 1px #333; */
  border: 1px solid #a2a2a2;
  padding: 60px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 80px;
}
.footer-1 {
  
}

.footer-2 a{
  font-size:1.2rem;
  color: #696e74;
}

.footer-3 a{
  font-size:1.2rem;
  color: #696e74;
}
.footer-4 {
  font-size:1.0rem;
  color: #696e74;
}
.footer-4 img{
  width: 50px;
}
section {
  color: #fff;
  padding:20px;
}

h1{
  text-align:center;
  /* margin:80px 0; */
 }

h4 {
  font-size:1.2rem;
  color: #696e74;
}
@media (max-width: 1024px) {
  .footer-grid {
    padding-left: 20px;
  }
}
